{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static %}

{% block inline_field_sets %}
    {% if original.get_users %}
        {% if change %}
            <fieldset class="module module2 aligned aligned" style="text-align: center">
                <h2>Vlastníci</h2>
                {% autoescape off %}
                    {% for user in original.get_users %}
                        <a href="{% url 'admin:user_user_change' user.id %}">{{ user }}</a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                {% endautoescape %}
            </fieldset>
        {% endif %}
    {% endif %}
{% endblock %}
