psycopg2==2.7.5
Django==2.2
django-reversion==3.0.3
django-axes==4.5.4
radicale==2.1.11
pytest==3.6.3
uwsgi==2.0.18
PyYAML==5.1
easydict==1.9
raven==6.10.0
https://github.com/OndrejIT/RadicaleInfCloud/zipball/master
