uwsgi==2.0.18
psycopg2==2.8.3
Django==2.2.3
django-reversion==3.0.4
django-axes==5.0.8
django-extensions==2.1.9
radicale==2.1.11
pytest==5.0.1
PyYAML==5.1.1
easydict==1.9
raven==6.10.0
https://github.com/OndrejIT/RadicaleInfCloud/zipball/master
ipython==7.6.1
