psycopg2==2.7.5
Django==2.0.7
django-reversion==3.0.0
django-axes==4.4.0
radicale==2.1.9
pytest==3.6.3
uwsgi==2.0.17.1
PyYAML==3.12
easydict==1.7
raven==6.9.0
https://github.com/OndrejIT/RadicaleInfCloud/zipball/master
